body{
background-color: bisque;
background-repeat: no-repeat;
}
#coteret{
    color: crimson;
    margin-left: 50%;
}
#yarin{
    margin-top: 50px;
    margin-left: 50px;
    width: 100px;
}
#kara{
    height: 400px;
    width: 100px;
    margin-left: 100px
}
#h1{
    margin-left: 150px;
    margin-top: -250px;
    color: coral;
}

#hotdog{
    height: 100px;
    margin-top: -1px;
    margin-left: 340px;
}