body{
    background-color: cadetblue;
}


#h1{
    color: aliceblue;
    margin-left: 100px;
}

#gir{
    margin-left: 50px;
    width: 250px;

}

#p{
    color: white;
    direction: rtl;
    border: coralS;
    border-radius: 2px;
}